<div class="card mb-3">
  <h2 class="card-header h4">
    Share #<%= share.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Recipe</dt>
      <dd>
        <% if @share.recipe.present? %>
          <%= link_to share.recipe, share.recipe %>
        <% end %>
      </dd>

      <dt>Recipient</dt>
      <dd><%= share.recipient_id %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back share, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_share_url(share), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to share, method: :delete, data: { confirm: "Do you really want to delete this share?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(share.updated_at) %> ago
  </div>
</div>
