<%= form_with(model: @rating, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :rating %>

    <%= f.text_field :rating, class: "form-control" %>
  </div>

  <%= f.hidden_field :recipe_id, value: @recipe.id %>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create rating", class: "btn btn-block btn-outline-secondary" %>
<% end %>
