<%= form_with(model: @recipe, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :photo %>

    <%= f.file_field :photo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_area :name, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :ingredients %>
    <%= f.text_area :ingredients, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category_id %>

    <%= f.collection_select :category_id, RecipeCategory.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :dietary_restrictions %>
    <%= f.text_area :dietary_restrictions, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.submit "Create recipe", class: "btn btn-block btn-outline-secondary" %>
<% end %>
