<!-- Form rating start -->
<%= form_with(model: @rating, local: true) do |f| %>
<!-- Form rating end -->

  <!-- Label and input for rating start -->
  <div class="form-group">
    <%= f.label :rating %>

    <!-- Input for rating start -->
    <%= f.text_field :rating, class: "form-control" %>
    <!-- Input for rating end -->
  </div>
  <!-- Label and input for rating end -->

  <!-- Label and input for recipe_id start -->
  <div class="form-group">
    <%= f.label :recipe_id %>

    <!-- Input for recipe_id start -->
    <%= f.text_field :recipe_id, class: "form-control" %>
    <!-- Input for recipe_id end -->
  </div>
  <!-- Label and input for recipe_id end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <%= f.hidden_field :user_id, value: @user.id %>
  <!-- Input for user_id end -->
  <!-- Label and input for user_id end -->

  <%= f.submit "Create rating", class: "btn btn-block btn-outline-secondary" %>
<% end %>
