<% was_validated = rating.errors.any? %>

<%= form_with(model: rating, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for rating start -->
  <div class="form-group">
    <% rating_class = "form-control" %>
    <% rating_was_invalid = rating.errors.include?(:rating) %>

    <% if was_validated %>
      <% if rating_was_invalid %>
        <% rating_class << " is-invalid" %>
      <% else %>
        <% rating_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :rating %>
    <!-- Input for rating start -->
    <%= f.number_field :rating, class: rating_class, placeholder: "Enter rating" %>
    <!-- Input for rating end -->
    <% if rating_was_invalid %>
      <% rating.errors.full_messages_for(:rating).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for rating end -->
  <!-- Label and input for recipe_id start -->
  <div class="form-group">
    <% recipe_class = "form-control" %>
    <% recipe_was_invalid = rating.errors.include?(:recipe) %>

    <% if was_validated %>
      <% if recipe_was_invalid %>
        <% recipe_class << " is-invalid" %>
      <% else %>
        <% recipe_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :recipe_id %>
    <!-- Input for recipe_id start -->
    <%= f.collection_select :recipe_id, Recipe.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for recipe_id end -->
    <% if recipe_was_invalid %>
      <% rating.errors.full_messages_for(:recipe).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for recipe_id end -->
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = rating.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% rating.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
